.detail {
    text-align: center;
    margin: 1rem auto;
    width: 90%;
    max-width: 40rem;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.26);
}

.detail img {
    width: 100%
}